[MASTER]
ignore=CVS
persistent=yes
load-plugins=

[MESSAGES CONTROL]
disable=C0111,R0903,C0103

[FORMAT]
max-line-length=88
indent-after-paren=4

[BASIC]
good-names=i,j,k,ex,Run,_,id

[MISCELLANEOUS]
notes=FIXME,XXX,TODO 